In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

# Leer csv
df_tiendas = pd.read_csv('/content/drive/MyDrive/2024/2do Cuatri - 2024/Proyecto Final/TP Proyecto/Código/tiendas_caba_v3.csv')

In [ ]:
customers = pd.read_csv('/content/drive/MyDrive/customers.csv')

In [ ]:
import pandas as pd

# Realizar el merge (unión) de las dos bases de datos usando la columna 'id'
df_tiendas = pd.merge(df_tiendas, customers[['id', 'customer_id', 'formatted_address']], on='id', how='left')

                                                  id        lat        lon  \
0  bytearray(b'-\x07\xc3\xa0g\xf1\x11\xec\x96\xe9... -34.661240 -58.511409
1  bytearray(b'-\x895Rg\xf3\x11\xec\x96\xe9\x06\x... -34.624407 -58.417899
2  bytearray(b'-\x91<xg\xf3\x11\xec\x96\xe9\x06\x... -34.574641 -58.447234
3  bytearray(b'-\xd0\x8fag\xf1\x11\xec\x96\xe9\x0... -34.610076 -58.455903
4  bytearray(b'-\xe7S\xbfg\xf1\x11\xec\x96\xe9\x0... -34.620644 -58.395803

                                        geometry  estaciones_servicio_200mts  \
0                POINT (-58.5114089 -34.6612403)                           0
1                POINT (-58.4178986 -34.6244068)                           0
2                POINT (-58.4472338 -34.5746414)                           0
3         POINT (-58.45590249999999 -34.6100759)                           0
4  POINT (-58.39580319999999 -34.62064399999999)                           0

   estaciones_servicio_1000mts  subtes_200mts  subtes_1000mts  id_rc  \
0                            3              0               0   3460
1                            2              0               2   2556
2                            1              0               1   1158
3                            5              0               0   2814
4                            5              0               4   2099

   porc_nbi  ...     producto_3       producto_4     producto_5  categoria_1  \
0  0.138810  ...  7790290001193                0              0          194
1  0.007092  ...  7793147118822  366277935829245              0          194
2  0.085714  ...  7793360005084    7794450090492  7795735000335           54
3  0.038147  ...  7792798001965    7795232000524  7792798002399          194
4  0.048780  ...  7790895067617    7791843008294              0            5

   categoria_2  categoria_3  categoria_4  categoria_5  customer_id  \
0          197            0            0            0         2013
1            0            0            0            0       112804
2           32           62          195           48        89009
3          195          197            0            0         2133
4          197          195            0            0         2147

                                   formatted_address
0         Guaminí 2123, ESO, Buenos Aires, Argentina
1        Carlos Calvo 3701, C1230ABM CABA, Argentina
2  Avenida Federico Lacroze 2870, Buenos Aires, A...
3  Fragata Presidente Sarmiento 1259, Buenos Aire...
4         Carlos Calvo 1865, Buenos Aires, Argentina

[5 rows x 70 columns]

In [ ]:
# Crear una nueva columna booleana que vale 1 si 'Av' está en 'formatted_address', de lo contrario 0
df_tiendas['en_avenida'] = df_tiendas['formatted_address'].apply(lambda x: 1 if 'Av' in str(x) else 0)

                                                  id        lat        lon  \
0  bytearray(b'-\x07\xc3\xa0g\xf1\x11\xec\x96\xe9... -34.661240 -58.511409
1  bytearray(b'-\x895Rg\xf3\x11\xec\x96\xe9\x06\x... -34.624407 -58.417899
2  bytearray(b'-\x91<xg\xf3\x11\xec\x96\xe9\x06\x... -34.574641 -58.447234
3  bytearray(b'-\xd0\x8fag\xf1\x11\xec\x96\xe9\x0... -34.610076 -58.455903
4  bytearray(b'-\xe7S\xbfg\xf1\x11\xec\x96\xe9\x0... -34.620644 -58.395803

                                        geometry  estaciones_servicio_200mts  \
0                POINT (-58.5114089 -34.6612403)                           0
1                POINT (-58.4178986 -34.6244068)                           0
2                POINT (-58.4472338 -34.5746414)                           0
3         POINT (-58.45590249999999 -34.6100759)                           0
4  POINT (-58.39580319999999 -34.62064399999999)                           0

   estaciones_servicio_1000mts  subtes_200mts  subtes_1000mts  id_rc  \
0                            3              0               0   3460
1                            2              0               2   2556
2                            1              0               1   1158
3                            5              0               0   2814
4                            5              0               4   2099

   porc_nbi  ...       producto_4     producto_5  categoria_1  categoria_2  \
0  0.138810  ...                0              0          194          197
1  0.007092  ...  366277935829245              0          194            0
2  0.085714  ...    7794450090492  7795735000335           54           32
3  0.038147  ...    7795232000524  7792798002399          194          195
4  0.048780  ...    7791843008294              0            5          197

   categoria_3  categoria_4  categoria_5  customer_id  \
0            0            0            0         2013
1            0            0            0       112804
2           62          195           48        89009
3          197            0            0         2133
4          195            0            0         2147

                                   formatted_address  en_avenida
0         Guaminí 2123, ESO, Buenos Aires, Argentina           0
1        Carlos Calvo 3701, C1230ABM CABA, Argentina           0
2  Avenida Federico Lacroze 2870, Buenos Aires, A...           1
3  Fragata Presidente Sarmiento 1259, Buenos Aire...           0
4         Carlos Calvo 1865, Buenos Aires, Argentina           0

[5 rows x 71 columns]

In [ ]:
df_tiendas.drop(columns=['id'], inplace=True)

In [ ]:
import pandas as pd

# Reordenar las columnas
column_order = ['customer_id'] + [col for col in df_tiendas.columns if col != 'customer_id']
df_reordered = df_tiendas[column_order]

# Guardar el DataFrame reordenado en un archivo CSV
df_reordered.to_csv('df_tiendas_reordenado.csv', index=False)

# Verificar las primeras filas del DataFrame reordenado
print(df_reordered.head())

   customer_id        lat        lon  \
0         2013 -34.661240 -58.511409
1       112804 -34.624407 -58.417899
2        89009 -34.574641 -58.447234
3         2133 -34.610076 -58.455903
4         2147 -34.620644 -58.395803

                                        geometry  estaciones_servicio_200mts  \
0                POINT (-58.5114089 -34.6612403)                           0
1                POINT (-58.4178986 -34.6244068)                           0
2                POINT (-58.4472338 -34.5746414)                           0
3         POINT (-58.45590249999999 -34.6100759)                           0
4  POINT (-58.39580319999999 -34.62064399999999)                           0

   estaciones_servicio_1000mts  subtes_200mts  subtes_1000mts  id_rc  \
0                            3              0               0   3460
1                            2              0               2   2556
2                            1              0               1   1158
3                            5              0               0   2814
4                            5              0               4   2099

   porc_nbi  ...     producto_2     producto_3       producto_4  \
0  0.138810  ...  7792798005888  7790290001193                0
1  0.007092  ...  7792798005888  7793147118822  366277935829245
2  0.085714  ...  7792540260138  7793360005084    7794450090492
3  0.038147  ...  7792798001927  7792798001965    7795232000524
4  0.048780  ...  7790895000218  7790895067617    7791843008294

      producto_5  categoria_1  categoria_2  categoria_3  categoria_4  \
0              0          194          197            0            0
1              0          194            0            0            0
2  7795735000335           54           32           62          195
3  7792798002399          194          195          197            0
4              0            5          197          195            0

   categoria_5  en_avenida
0            0           0
1            0           0
2           48           1
3            0           0
4            0           0

[5 rows x 69 columns]

In [ ]:
# Renombrar la columna 'customer_id' a 'id'
df_reordered = df_reordered.rename(columns={'customer_id': 'id'})

# Guardar el DataFrame modificado en un archivo CSV
df_reordered.to_csv('tiendas_caba_v4.csv', index=False)

       id        lat        lon  \
0    2013 -34.661240 -58.511409
1  112804 -34.624407 -58.417899
2   89009 -34.574641 -58.447234
3    2133 -34.610076 -58.455903
4    2147 -34.620644 -58.395803

                                        geometry  estaciones_servicio_200mts  \
0                POINT (-58.5114089 -34.6612403)                           0
1                POINT (-58.4178986 -34.6244068)                           0
2                POINT (-58.4472338 -34.5746414)                           0
3         POINT (-58.45590249999999 -34.6100759)                           0
4  POINT (-58.39580319999999 -34.62064399999999)                           0

   estaciones_servicio_1000mts  subtes_200mts  subtes_1000mts  id_rc  \
0                            3              0               0   3460
1                            2              0               2   2556
2                            1              0               1   1158
3                            5              0               0   2814
4                            5              0               4   2099

   porc_nbi  ...     producto_2     producto_3       producto_4  \
0  0.138810  ...  7792798005888  7790290001193                0
1  0.007092  ...  7792798005888  7793147118822  366277935829245
2  0.085714  ...  7792540260138  7793360005084    7794450090492
3  0.038147  ...  7792798001927  7792798001965    7795232000524
4  0.048780  ...  7790895000218  7790895067617    7791843008294

      producto_5  categoria_1  categoria_2  categoria_3  categoria_4  \
0              0          194          197            0            0
1              0          194            0            0            0
2  7795735000335           54           32           62          195
3  7792798002399          194          195          197            0
4              0            5          197          195            0

   categoria_5  en_avenida
0            0           0
1            0           0
2           48           1
3            0           0
4            0           0

[5 rows x 69 columns]